@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Syncopate);

.wallpaper {
  max-width: 100%;
  height: auto;
  position: relative;
}

.profilePic {
  max-width: 12%;
  max-height: auto;
  border-radius: 50%;
  border: 3px solid #fff;
  position:absolute;
  top:50%;
  left:9%;
}

.name {
  padding-top: 8%;
  margin-bottom: 0;
  font-family: 'Syncopate';
}

.name b{
  font-size: 32px;
}

.intro {
  text-align: left;
  margin-left: 10%;
  margin-right: 50%;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Dosis',serif;
}

.texts {
  text-align: left;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Dosis',serif;
}

*,*::before,*::after{
    box-sizing: border-box;
}
.nameAndContacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - 20%);
  padding-top: 40px;
}
.name {
  margin: 0;
  font-size: 20px;
}
.icons-box{
    display: flex;
    align-items: center;
}
.seperator{
    height: 20px;
    min-height: 20px;
    width: 1px;
    min-width: 1px;
    background: #ccc;
    margin: 0 15px;
}
.icons a{
    display: block;
}
.icons img {
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    display: block;
    margin: 0;
}

.body{
  display:flex;
  margin-left: 10%;
}

.blogEntry{
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
}

.date {
  text-align: left;
  width: 100px;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Dosis',serif;
}

.title {
  text-align: left;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Dosis',serif;
}

.category{
  display: flex;
  flex-basis:30%;
  align-items: flex-start;
}

.categoryIcons{
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
}

.categoryName{
  padding-left:5%;
}

.content-codingProject p{
  padding-right:20%;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.content{
  width: 2500px;
}

body{
  background-color: ghostwhite;
}

a:hover,a:visited,a:link,a:active { color:#000; }