.wallpaper {
  max-width: 100%;
  height: auto;
  position: relative;
}

.profilePic {
  max-width: 7%;
  max-height: auto;
  border-radius: 50%;
  border: 3px solid #fff;
  position:absolute;
  top:15.5%;
  left:9%;
}

.name {
  margin-top: 6%;
  color:darkblue;
  margin-bottom: 0;
  margin-left: 47.3%;
  margin-right: 2%;
}

.intro {
  text-align: left;
  color:darkblue;
  margin-left: 10%;
  margin-right: 50%;
  font-size: 14px;
  line-height: 1.5;
}

.texts {
  text-align: left;
  color:darkblue;
  font-size: 14px;
  line-height: 1.5;
}

*,*::before,*::after{
    box-sizing: border-box;
}
.nameAndContacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - 20%);
  padding-top: 40px;
}
.name {
  color:darkblue;
  margin: 0;
}
.icons-box{
    display: flex;
    align-items: center;
}
.seperator{
    height: 20px;
    min-height: 20px;
    width: 1px;
    min-width: 1px;
    background: #ccc;
    margin: 0 15px;
}
.icons a{
    display: block;
}
.icons img {
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    max-width: 20px;
    display: block;
    margin: 0;
}

.body{
  display:flex;
  margin-left: 10%;
}

.category{
  display: flex;
  flex-basis:30%;
  align-items: flex-start;
}

.categoryIcons{
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
}

.categoryName{
  padding-left:5%;
}

.content{
  padding-right:20%;
}

body{
  background-color: aliceblue;
}